<section class="content--primary">
  <img alt="Software Engineer, Charlotte, NC" src="/assets/images/jason-neal-web-developer-greenville-sc.jpg">
  <h1>About</h1>
  <p>
    I began developing websites in the mid-to-late 90's using popular tools of
    the time such as Geocities, Angelfire, and Expage. Oh, how times have
    changed, but even after all these years, I still maintain now the same
    passion for building websites that I had then.
  </p>
  <p>
    I began my professional experience in 1999 when I joined my high school's
    web page staff. We worked as a team to keep the website up-to-date and make
    improvements as necessary. While everyone else was using Microsoft's
    FrontPage to make their changes, I was quickly noticed for typing my HTML by
    hand. In 2001, I became the web staff manager. This made me the head student
    in charge of the website until I graduated in 2003.
  </p>
  <p>
    In 2006, I received my first full-time job offer in web development. Since
    that time, I have grown and matured into a highly skilled developer with
    quite a repertoire of skills and abilities. My primary focus has been the
    LAMP stack, more specifically Linux, Apache, MySQL and PHP. However, lately
    I've been enjoying LEMP - Linux, Nginx, MariaDB, PHP-FPM. I prefer
    Object-Oriented PHP with an MVC architecture. I follow standards and write
    code that is both clean and secure. I believe it goes without saying that I
    am very strong with xHTML/CSS and always follow the standards set forth by
    the W3C.
  </p>
  <p>
    I analyise the requirements of each project and always use the right tool
    for the right job. Currently, my preferred setup is to separate all
    front-end HTML/CSS/JS from the back-end PHP/DB. I do this by writing an API
    using Silex for the back-end and AngularJS applications on the front-end. I
    have also built plenty of websites with their own custom content management
    system. One of my most prized creations is a
    <a [routerLink]="['/portfolio', 18, 'custom-cms-social-network-for-bands']">
      custom content management system and social network</a> designed
    specifically for bands, record labels, and other entities in the
    entertainment industry. Some of the more popular names that have used it are
    Alien Ant Farm, Egypt Central, 12 Stones, The Fairchilds, and Chris Adler
    from Lamb of God.
  </p>
  <p>
    If you learn only one thing about me after visiting my website, I hope it is
    that I am very passionate about my work. I love developing websites and web
    applications, and I couldn't imagine having a better job or career. Even
    after completing a full day of work at my full time gig, I typically find
    myself at home working on my own projects late into the night. I love
    learning, I love improving, and that's why I thoroughly enjoy this line of
    work.
  </p>
</section>
