<section class="content--primary">
  <h1>Contact</h1>
  <p>
    Contact forms feel so archaic these days. It's like you toss your message
    over a wall and never know if there's anyone on the other side to receive
    it. For this reason, I have chosen to remove the contact form from my site.
    If you'd like to reach me, please do so using your preferred contact method.
  </p>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3">
      <h3>Social Media</h3>
      <p>
        <a href="https://www.facebook.com/jasonneal" target="_blank">Facebook</a><br>
        <a href="https://twitter.com/jasonneal" target="_blank">Twitter</a><br>
        <a href="https://www.linkedin.com/in/jasontneal" target="_blank">LinkedIn</a>
      </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h3>Email</h3>
      <p><a href="mailto:jason@jneal.com">jason@jneal.com</a></p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h3>Call or Text</h3>
      <p><a href="tel:+18642752885">(864) 275-2885</a></p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h3>Snail Mail</h3>
      <p>156 Bromley Village Dr<br>Unit 204<br>Fort Mill, SC 29708</p>
    </div>
  </div>
</section>
