<section class="content--primary">
  <h1>Resume</h1>
  <p>I have my resume available in three different formats:</p>
  <div class="row">
    <div class="col-12 col-md-4">
      <a href="/assets/files/resume-jason-neal.docx" target="_blank">
        <img alt="Word Resume" src="/assets/images/icon-doc.jpg">
        <span class="file--name">resume-jason-neal.docx</span>
        <span class="file--size">34.1 KB</span>
      </a>
    </div>
    <div class="col-12 col-md-4">
      <a href="/assets/files/resume-jason-neal.pdf" target="_blank">
        <img alt="PDF Resume" src="/assets/images/icon-pdf.jpg">
        <span class="file--name">resume-jason-neal.pdf</span>
        <span class="file--size">139.0 KB</span>
      </a>
    </div>
    <div class="col-12 col-md-4">
      <a href="/assets/files/resume-jason-neal.html" target="_blank">
        <img alt="HTML Resume" src="/assets/images/icon-html.jpg">
        <span class="file--name">resume-jason-neal.html</span>
        <span class="file--size">92.0 KB</span>
      </a>
    </div>
  </div>
</section>
