/**
 * Root Elements
 */
html {
  height: 100%;
}
body {
  background: #000 repeating-linear-gradient(135deg, #000, #000 .85em, #111 0, #111 1.7em) fixed;
  height: 100%;
}

/**
 * Global Font Elements
 */
h1 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1.2rem;
  margin: 1em 0 0;
}
button {
  background-color: #a7500f;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
}
button:hover {
  background-color: #ff7f00;
}

/**
 * Global Structural Elements
 */
.container {
  background-color: #fff;
  box-shadow: 0 0 15px 5px #000;
  padding: 0 0;
}
header,
section,
footer {
  padding: 20px;
}
section img {
  border: solid 1px #ccc;
  padding: 1px;
}
.content--primary p {
  margin: 1em 0 0 0;
}
.content--featured {
  background: linear-gradient(#fff, #ddd);
  padding-top: 0;
}
.content--secondary {
  background-color: #eee;
  border: solid 1px #ddd;
  padding: 15px;
}

/**
 * Global Components
 */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  margin: 0;
  padding: 0;
}
