<section class="content--featured">
  <h1>Recent Work</h1>
  <jneal-portfolio-preview [portfolioList]="portfolioList"></jneal-portfolio-preview>
</section>
<section class="content--primary clearfix">
  <img alt="Software Engineer, Charlotte, NC" src="/assets/images/jason-neal-web-developer-greenville-sc.jpg">
  <h1>Software Engineer, Charlotte, NC</h1>
  <p>
    I'm Jason Neal, a software engineer and web developer located in Charlotte,
    NC. I find enjoyment working with everything from front-end frameworks like
    Angular, to back-end languages like PHP 7 and NodeJS, including dev ops
    technology such as Docker. I consider myself a clean coder. Therefore, I
    follow standards and write clean, consistent, and secure code. I am a
    professional that takes my career very seriously. I'm an extremely
    passionate individual, and I believe it really shows through in my work.
  </p>
  <p><a routerLink="/about" routerLinkActive="active"><b>View Full Bio &raquo;</b></a></p>
</section>
